*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    /* display: flex; */
    padding: 0%;
    margin: 0%;  
    background: url("../image/gym1.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    bottom: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.left{
    display: inline-block;
    position: absolute;
    /* border: 2px solid rgb(255, 0, 0); */
    left: 34px;
    top: 20px;

    
}
header{

    top: 2px;
}

.mid{
    display: block;
    border: 1px solid rgb(9, 255, 0);
    width: 41%;
    height: 60px;
    margin: 20px auto ;
}
.right{
    display: inline-block;
    position: absolute;
    /* border: 2px solid rgb(255, 242, 0); */
    right: 34px;
    top: 20px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px
    
    
}
.navbar li a{
    display: inline-block;
    color: beige;
    text-decoration: none;
    padding: 11px 13px;
    margin-top: 2%;
    position: relative;
    left: 5%;
 
}
.navbar li a:hover, .navbar li a.active1{
    text-decoration: underline;
    color: rgb(107, 107, 104);
}
.left img{
    width: 151px;
    height: 47px;
}
.btn{
    margin: 0px 6px;
    background-color: black;
    color: white;
    padding: 3px 12px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
    
}
.btn:hover,.btn2:hover{

    background-color: rgba(170, 163, 163, 0.413);
    color: white;

    
}
.container{
    border: 1px solid grey;
    display: inline-block;
    width:400px;
    height: 453px;
    margin: auto;
    margin-top: 50px;
    /* background-image: url(/image/images\ \(66\).jpg); */
    background-color: rgba(0, 0, 0, 0.459);
    background-size: cover;
    /* font-size:144%; */
    border-radius: 45px;
    left: 484px;
    position: absolute;

}
.form-group{
    display: block;
    position: relative;
    left: 80px;
    margin-top: 25px;
    margin: auto;
    
}

.form-group input{
    display: block;
    /* border: solid red 2px; */
    width: 335px;
    height: 38px;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    margin: 8px -48px;
    border-radius: 10px;
    border:0%;
 
    
color: rgb(0, 0, 0);

}
.join-us{
    display:inline-block ;
    position: relative;
    font-weight: bolder;
    font-size: 317%;
    left: 116px;
    margin-top: 31px;
    margin-bottom: 30px;

}
.btn2{
    background-color: black;
    color: white;
    padding: 3px 12px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    font-size: 18px;
    cursor:pointer;
    position: absolute;
    left: 34px;
    width: 332px;
    margin-top: 30px;
    height: 38px;
    
 
}


